build*/*
doc/html/*
doc/latex/*
*.swp
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/libufget-bin.debhelper.log
debian/libufget-bin.substvars
debian/libufget-bin/
debian/libufget-dev.debhelper.log
debian/libufget-dev.substvars
debian/libufget-dev/
debian/libufget-doc.debhelper.log
debian/libufget-doc.substvars
debian/libufget-doc/
debian/libufget.debhelper.log
debian/libufget.substvars
debian/libufget/
debian/tmp/
obj-x86_64-linux-gnu/

